html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
}

body,
button {
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.5em;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

li {
  list-style: none;
}

#score{
  color:white; 
  position: absolute;
  right: 620px;
  top: 480px;
  font-size: 4rem;
  font-family: 'Pixelify Sans', cursive;
  display:none;
}

#game {
  height: 533px;
  width: 948px;
}

#start-menu{
  position: absolute;
}

#pause-menu{
  position: absolute;
  display:none;
}

#death-menu{
  position: absolute;
  display:none;
}

.health-bar {
  transform-origin: top left;
  position: absolute;
  transform: scale(2);
  background-repeat: repeat;
  width: calc(16px * var(--hearts));
  height: 16px;
}

#filled-health-bar {
  --hearts: 2;
  background-image: url(assets/images/interface/heart-full.png);
}

#empty-health-bar {
  --hearts: 3;
  background-image: url(assets/images/interface/heart-empty.png);
}

#light-score {
  color:yellow;
  position: absolute; 
  max-width: 60px;
  left : 1000px;
  top : 400px;
  font-size: 1.5rem;
  font-family: 'Pixelify Sans', cursive;
}