html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
  margin: 0;
  padding: 0;
}

#display{
  position: relative;
  height: 533px;
  width: 948px;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
}


#game {
  position: absolute;
  /* transform: translate(-50%,-50%); */
  height: 533px;
  width: 948px;
}

.menu{
  position: absolute;
  /* transform: translate(-50%,-50%); */
  height: 533px;
  width: 948px;
}

#pause-menu{
  display:none;
}

#death-menu{
  display:none;
}

/* #score{
  color:white; 
  font-size: 4rem;
  font-family: 'Pixelify Sans', cursive;
  display:none;
  position: absolute;
  bottom: 100;
  transform: translate(-50%,-50%);
} */

.score{
  position: absolute; 
  font-family: 'Pixelify Sans', cursive;
  transform: translate(-50%,-50%);
}

#final-score{
  color:white;
  font-size: 4rem;
  top: 58%;
  left: 83.5%;
  z-index: 2;
  display:none;
}

#light-score {
  color:yellow;
  top: 40%;
  left: 53%;
  font-size: 1.5rem;
}

.health-bar {
  transform-origin: top left;
  position: absolute;
  transform: scale(2);
  background-repeat: repeat;
  width: calc(16px * var(--hearts));
  height: 16px;
}

#filled-health-bar {
  --hearts: 2;
  background-image: url(assets/images/interface/heart-full.png);
}

#empty-health-bar {
  --hearts: 3;
  background-image: url(assets/images/interface/heart-empty.png);
}