html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

body,
menu,
button {
  margin: 0;
  padding: 0;
}

button {
  font-size: 1.5em;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

canvas {
  background: lightblue;
}

li {
  list-style: none;
}

menu {
  position: absolute;
}
